# Sources copiées temporairement pour le build
PKGBUILDs/*/*.py
PKGBUILDs/*/*.svg
PKGBUILDs/*/*.png
PKGBUILDs/*/src/
PKGBUILDs/*/pkg/
repo/x86_64/linux-shivaos*.pkg.tar.zst
repo/x86_64/linux-shivaos*.pkg.tar.zst.sig
